/**
* Small Devices, Tablets
**/

/* == When screen is 580px or smaller == */
@media only screen and (max-width : 580px) {

	.content > .form-wrapper {
		width: 90%; 
	}

	.logo-container {
		font-size: 4em; 
	}

	.masthead__left {
		margin-left: calc(50% - 20em);
	}

	.masthead__right {
		margin-right: calc(50% - 20em);
	}

}

/* == When screen is larger than 580px == */
@media only screen and (min-width : 581px) {

}