/*
==========================================================================
    Cookies notification
==========================================================================
*/

.cookies {
    position: sticky;
    z-index: 150;
    top: 0;
    display: none;
    padding: 1em 0;
    background-color: shade($col-sec, 50%);

    &__content {
        display: flex;
        align-items: center;
    }

    &__close {
        flex-shrink: 0;
        margin-left: 1em;
    }
}