/*
==========================================================================
	Forms - Base element styling
==========================================================================
*/

.content {

    & > .form-wrapper {
        width: 60%; 
    }

    form {

        & > .form-header {
            margin: 0.5em 0; 

            & .form-description {
                font-size: 1.6em;
                color: $col-text-medium
            }
        }

        & > .form-body {

            ul {

                margin: 0; 
            }

            & > .form-field-wrapper {

                li {
                    list-style: none;
                    margin-top: .75em;
                }
            }
        }

        & > .form-footer {
            margin: 2em 0; 
        }

        input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="button"]):not([type="submit"]),
        textarea,
        select {
            @include input-style-reset;
            width: 100%;
            height: 50px;
            padding: 1.5em 0 1.5em 1em;
            border-radius: .6em;
            border: 1px solid $col-text-medium;
            background-color: #fff;
            color: $col-text;
            transition: all .15s ease-in-out;
            font-size: 1.2rem; 

            &:hover,
            &:focus {
                border-color: $col-grey-x-dark;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $col-text-x-light;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: $col-text-x-light;
            }

            &:-ms-input-placeholder { /* IE 10+ */
                color: $col-text-x-light;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: $col-text-x-light;
            }

            &:disabled {
                border-color: $col-text-x-light;
                background-color: $col-grey-x-light;
                color: $col-text-light;
                cursor: not-allowed;
            }
        }

        input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="button"]):not([type="submit"]),
        textarea {

            &:read-only {
                border-color: $col-text-x-light;
                background-color: $col-grey-x-light;
                color: $col-text-light;
                cursor: not-allowed;
            }
        }

        textarea {
            height: auto;
            padding: 1em;
            line-height: 1.5em;
        }

        select {
            cursor: pointer;
        }
    }
}